<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Caro_không_em.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Caro_không_em.Settings>
            <setting name="PlayerX" serializeAs="String">
                <value>Player X</value>
            </setting>
            <setting name="PlayerO" serializeAs="String">
                <value>Player O</value>
            </setting>
        </Caro_không_em.Settings>
    </userSettings>
</configuration>